<div align="center">
    <h1 align="center">Tugas Besar IF2220 Probabilitas dan Statistika 2023/2024</h1>
    <h3>Topik : Health</h3>
    <strong>
        <h4>Dibuat oleh: </h4>
        <h4>K01 - Kelompok 24</h4>
            <table>
              <tr>
                <td>NIM</td>
                <td>Nama</td>
              </tr>
              <tr>
                <td>13522071</td>
                <td>Bagas Sambega Rosyada</td>
              </tr>
              <tr>
                <td>13522091</td>
                <td>Raden Francisco Trianto Bratadiningrat</td>
              </tr>
            </table>
      </strong>
</div>

## Inisialisasi Dependencies Python dan Pembacaan Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Read data from CSV
data = pd.read_csv("health.csv", index_col=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      2000 non-null   int64
 1   Income                   2000 non-null   float64
 2   Gender                   2000 non-null   object
 3   Education                2000 non-null   object
 4   Stress_Level             2000 non-null   float64
 5   Exercise_Hours_Per_Week  2000 non-null   float64
 6   Cholesterol_Level        2000 non-null   float64
 7   Weight                   2000 non-null   float64
 8   Height                   2000 non-null   float64
 9   Blood_Pressure           2000 non-null   float64
 10  Health_Status            2000 non-null   object
dtypes: float64(7), int64(1), object(3)
memory usage: 187.5+ KB

# Soal General

## Nomor 1

Menulis deskripsi statistika (Descriptive Statistics) dari semua kolom pada data. Data
yang bersifat numerik dapat diberikan nilai mean, median, modus, standar deviasi,
variansi, range, nilai minimum, maksimum, kuartil, IQR, skewness dan kurtosis. Data
dalam bentuk string dapat dicari unique values, dan proporsi nya.

### Jawab: Menulis Deskripsi Statistika dari semua kolom pada data

Kolom-Kolom dibagi menjadi bentuk data numerik dan string:
- String: Gender, Education, Health_Status
- Numerik: Age, Income, Stress_level, Exercise_Hours_Per_Week, Cholesterol_Level, Weight, Height, Blood_Pressure

#### Data String

Untuk data string akan dicari:
- Unique values
- Proporsi

In [2]:
# Get columns with string type
string_columns = data.select_dtypes(include=['object']).columns

# For all colum with type string
for column in string_columns:
    stat = pd.DataFrame()
    
    # Get unique values and their counts
    unique_values = data[column].value_counts()
    
    # Calculate proportions
    proportions = unique_values*100 / len(data)

    # Construct frame
    stat["Unique Value"] = unique_values.index
    stat["Frekuensi"] = unique_values.values
    stat["Proporsi (%)"] = proportions.values
    
    # Print result
    print("Data for " + column)
    print(stat)
    print("\n")

Data for Gender
  Unique Value  Frekuensi  Proporsi (%)
0       Female       1011         50.55
1         Male        989         49.45


Data for Education
        Unique Value  Frekuensi  Proporsi (%)
0  Bachelor's Degree        940         47.00
1    Master's Degree        482         24.10
2        High School        271         13.55
3                PhD        247         12.35
4              Other         57          2.85
5          undefined          3          0.15


Data for Health_Status
  Unique Value  Frekuensi  Proporsi (%)
0         Fair        519         25.95
1         Poor        504         25.20
2    Excellent        503         25.15
3         Good        474         23.70

#### Data Numerik

Untuk data numerik akan dicari:
- mean 
- median
- modus
- standar deviasi
- variansi
- range
- minimum
- maksimum
- kuartil
- IQR
- skewness
- kurtosis

In [3]:
# Get numeric data
numerik_data = data.select_dtypes(include=['number']).drop(0)

# Calculate the mode for each column
def get_mode(x: pd.DataFrame) -> pd.Series | None:
    try:
        mode = x.mode()[1]
        mode = 'multivalue'
    except KeyError:
        mode = x.mode()[0]
    return mode

# Construct dataframe
numerik_stat = pd.DataFrame()

numerik_stat["Mean"] = numerik_data.mean()
numerik_stat["Median"] = numerik_data.median()
numerik_stat["Modus"] = numerik_data.apply(get_mode)
numerik_stat["Deviasi"] = numerik_data.std()
numerik_stat["Variansi"] = numerik_data.var()
numerik_stat["Min"] = numerik_data.min()
numerik_stat["Max"] = numerik_data.max()
numerik_stat["Q1"] = numerik_data.quantile(0.25)
numerik_stat["Q2"] = numerik_data.quantile(0.5)
numerik_stat["Q3"] = numerik_data.quantile(0.75)
numerik_stat["IQR"] = numerik_stat["Q3"] - numerik_stat["Q1"]
numerik_stat["Skewness"] = numerik_data.skew()
numerik_stat["Kurotisis"] = numerik_data.kurtosis()

# Print result
numerik_stat

,Mean,Median,Modus,Deviasi,Variansi,Min,Max,Q1,Q2,Q3,IQR,Skewness,Kurotisis
Age,3.941221e+01,3.900000e+01,53,1.156122e+01,1.336618e+02,2.000000e+01,5.900000e+01,3.000000e+01,3.900000e+01,4.900000e+01,1.900000e+01,-0.004303,-1.203143
Income,4.890827e+06,4.901045e+06,multivalue,2.010896e+06,4.043704e+12,-1.088987e+06,1.222749e+07,3.583588e+06,4.901045e+06,6.272831e+06,2.689244e+06,-0.007338,-0.030979
Stress_Level,5.357107e+00,5.351845e+00,multivalue,9.172572e-01,8.413608e-01,2.528057e+00,8.581327e+00,4.737546e+00,5.351845e+00,6.003318e+00,1.265772e+00,-0.013186,-0.130741
Exercise_Hours_Per_Week,9.948500e+00,9.921183e+00,multivalue,4.908526e+00,2.409363e+01,-4.499310e+00,2.681636e+01,6.654121e+00,9.921183e+00,1.322680e+01,6.572674e+00,0.061877,0.020860
Cholesterol_Level,2.002231e+02,2.002214e+02,multivalue,9.728273e-01,9.463929e-01,1.969149e+02,2.031623e+02,1.995820e+02,2.002214e+02,2.008741e+02,1.292162e+00,-0.071811,0.004347
Weight,7.023402e+01,7.038939e+01,multivalue,1.017688e+01,1.035688e+02,3.258176e+01,1.096096e+02,6.364453e+01,7.038939e+01,7.690168e+01,1.325715e+01,-0.057491,0.123175
Height,1.507307e+02,1.506636e+02,multivalue,6.805736e-01,4.631804e-01,1.491246e+02,1.538705e+02,1.502399e+02,1.506636e+02,1.511405e+02,9.006178e-01,0.656357,0.706462
Blood_Pressure,1.196795e+02,1.199218e+02,0.0,1.120344e+01,1.255171e+02,0.000000e+00,2.009500e+02,1.130482e+02,1.199218e+02,1.266116e+02,1.356333e+01,-1.625951,18.831882

## Nomor 2

Apakah pada data tersebut terdapat outlier? Jika ya, dapatkah anda menanganinya?
Jelaskan apa yang umumnya dilakukan untuk menangani outlier.

## Nomor 3

Membuat Visualisasi plot distribusi. Berikan uraian penjelasan kondisi setiap kolom
berdasarkan kedua plot tersebut. Jika numerik dapat dibuat dalam bentuk histogram dan
box plot, dan jika string dengan histogram.

## Nomor 4

Menentukan distribusi setiap kolom numerik menggunakan hasil visualisasi histogram.
Apakah kolom tersebut berdistribusi normal? Jika bukan, terdistribusi seperti apa kolom
tersebut?

# Soal khusus dataset

Mira adalah seorang peneliti kesehatan yang bekerja di sebuah lembaga riset medis
yang terkemuka. Sebagai bagian dari tugasnya, Mira memiliki akses ke sebuah dataset yang
berisi informasi tentang profil kesehatan dan gaya hidup dari sejumlah individu. Mira
bertanggung jawab untuk melakukan analisis statistika terhadap dataset ini guna mendapatkan
pemahaman yang lebih baik tentang faktor-faktor yang mempengaruhi kesehatan dan kualitas
hidup individu. Selain itu, Mira juga diminta untuk mengidentifikasi pola dan hubungan yang
signifikan antara variabel-variabel tersebut, serta untuk menjawab berbagai pertanyaan
penelitian yang diajukan oleh lembaga riset.


Atribut: Age, Income, Gender, Education, Stress_Level, Exercise_Hours_Per_Week,
Cholesterol_Level, Weight,Height, Blood_Pressure, Health_Status


Gunakan alpha = 0.05

## Nomor 5: Hipotesis 1 sampel

- Lembaga riset saat ini sedang mempertanyakan data berat badan individu yang
disimpan untuk kepentingan riset lanjutan. Identifikasilah apakah rata-rata berat badan
pasien diatas 65 kg?
- Tekanan darah sistole yang normal berada pada rentang 120 mmHg. Lembaga riset
perlu untuk memastikan apakah data individu yang diukur cukup normal. Periksalah
apakah rata-rata tekanan darah sistole bernilai 120 mmHg?
- Periksalah apakah data 200 individu pertama pengujian (baris teratas) memiliki rata-rata
waktu olahraga per minggu tidak sama dengan 15 jam?
- Apakah penduduk dengan pendapatan yang lebih besar dari Rp 7.500.000,00 tidak
sama dengan 30% dari data keseluruhan individu?

## Nomor 6: Hipotesis 2 sampel

Lembaga riset membagi data individu menjadi dua bagian, yaitu data individu yang lebih
awal masuk data penelitian (bagian atas) dan yang baru saja (bagian bawah).

- Periksa apakah rata-rata berat badan individu yang lebih awal masuk data penelitian
sama dengan rata-rata berat badan individu yang masuk baru saja?
- Bagaimana dengan pendapatan individu, apakah pendapatan sistole individu yang lebih
awal masuk data penelitian lebih besar Rp 1.250.000,00 dari yang baru saja masuk?
- Lembaga riset ingin membandingkan kondisi kesehatan individu dari dua bagian data.
Apakah variansi tekanan darah individu yang lebih awal masuk data penelitian sama
dengan yang baru saja masuk?
- Apakah proporsi waktu olahraga yang lebih dari 8 jam per minggu pada data individu
awal lebih besar daripada kuantitas proporsi pada data individu akhir dengan waktu
olahraga yang sama?