<div align="center">
    <h1 align="center">Tugas Besar IF2220 Probabilitas dan Statistika 2023/2024</h1>
    <h3>Topik : Health</h3>
    <strong>
        <h4>Dibuat oleh: </h4>
        <h4>K01 - Kelompok 24</h4>
            <table>
              <tr>
                <td>NIM</td>
                <td>Nama</td>
              </tr>
              <tr>
                <td>13522071</td>
                <td>Bagas Sambega Rosyada</td>
              </tr>
              <tr>
                <td>13522091</td>
                <td>Raden Francisco Trianto Bratadiningrat</td>
              </tr>
            </table>
      </strong>
</div>

## Setup Python

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv("health.csv")
data.describe()

,Unnamed: 0,Age,Income,Stress_Level,Exercise_Hours_Per_Week,Cholesterol_Level,Weight,Height,Blood_Pressure
count,2000.000000,2000.000000,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,999.500000,39.417500,4.889928e+06,5.356912,9.951842,200.223191,70.234359,150.730565,119.682437
std,577.494589,11.560753,2.010795e+06,0.917069,4.909573,0.972594,10.174343,0.680443,11.201412
min,0.000000,20.000000,-1.088987e+06,2.528057,-4.499310,196.914948,32.581758,149.124594,0.000000
25%,499.750000,30.000000,3.580714e+06,4.737650,6.654951,199.581975,63.654894,150.240019,113.048602
50%,999.500000,39.000000,4.898901e+06,5.351795,9.927028,200.221522,70.392125,150.663619,119.937396
75%,1499.250000,49.250000,6.271595e+06,6.003014,13.232218,200.873647,76.894512,151.140489,126.608781
max,1999.000000,59.000000,1.222749e+07,8.581327,26.816358,203.162335,109.609562,153.870469,200.950000

# Soal General

## Nomor 1

Menulis deskripsi statistika (Descriptive Statistics) dari semua kolom pada data. Data
yang bersifat numerik dapat diberikan nilai mean, median, modus, standar deviasi,
variansi, range, nilai minimum, maksimum, kuartil, IQR, skewness dan kurtosis. Data
dalam bentuk string dapat dicari unique values, dan proporsi nya.

In [13]:
# Read health data

# Get data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2000 non-null   int64
 1   Age                      2000 non-null   int64
 2   Income                   2000 non-null   float64
 3   Gender                   2000 non-null   object
 4   Education                2000 non-null   object
 5   Stress_Level             2000 non-null   float64
 6   Exercise_Hours_Per_Week  2000 non-null   float64
 7   Cholesterol_Level        2000 non-null   float64
 8   Weight                   2000 non-null   float64
 9   Height                   2000 non-null   float64
 10  Blood_Pressure           2000 non-null   float64
 11  Health_Status            2000 non-null   object
dtypes: float64(7), int64(2), object(3)
memory usage: 187.6+ KB

In [ ]:
# Analisis data Age
print()

### Jawab

Data terdiri dari 12 kolom, yaitu:
- Index
- Age
- Income
- Gender
- Education
- Stress_Level
- Exercise_Hours_Per_Week
- Cholesterol_Level
- Weight
- Height
- Blood_Pressure
- Health_Status

## Nomor 2

Apakah pada data tersebut terdapat outlier? Jika ya, dapatkah anda menanganinya?
Jelaskan apa yang umumnya dilakukan untuk menangani outlier.

## Nomor 3

Membuat Visualisasi plot distribusi. Berikan uraian penjelasan kondisi setiap kolom
berdasarkan kedua plot tersebut. Jika numerik dapat dibuat dalam bentuk histogram dan
box plot, dan jika string dengan histogram.

## Nomor 4

Menentukan distribusi setiap kolom numerik menggunakan hasil visualisasi histogram.
Apakah kolom tersebut berdistribusi normal? Jika bukan, terdistribusi seperti apa kolom
tersebut?

# Soal khusus dataset

Mira adalah seorang peneliti kesehatan yang bekerja di sebuah lembaga riset medis
yang terkemuka. Sebagai bagian dari tugasnya, Mira memiliki akses ke sebuah dataset yang
berisi informasi tentang profil kesehatan dan gaya hidup dari sejumlah individu. Mira
bertanggung jawab untuk melakukan analisis statistika terhadap dataset ini guna mendapatkan
pemahaman yang lebih baik tentang faktor-faktor yang mempengaruhi kesehatan dan kualitas
hidup individu. Selain itu, Mira juga diminta untuk mengidentifikasi pola dan hubungan yang
signifikan antara variabel-variabel tersebut, serta untuk menjawab berbagai pertanyaan
penelitian yang diajukan oleh lembaga riset.


Atribut: Age, Income, Gender, Education, Stress_Level, Exercise_Hours_Per_Week,
Cholesterol_Level, Weight,Height, Blood_Pressure, Health_Status


Gunakan alpha = 0.05

## Nomor 5: Hipotesis 1 sampel

- Lembaga riset saat ini sedang mempertanyakan data berat badan individu yang
disimpan untuk kepentingan riset lanjutan. Identifikasilah apakah rata-rata berat badan
pasien diatas 65 kg?
- Tekanan darah sistole yang normal berada pada rentang 120 mmHg. Lembaga riset
perlu untuk memastikan apakah data individu yang diukur cukup normal. Periksalah
apakah rata-rata tekanan darah sistole bernilai 120 mmHg?
- Periksalah apakah data 200 individu pertama pengujian (baris teratas) memiliki rata-rata
waktu olahraga per minggu tidak sama dengan 15 jam?
- Apakah penduduk dengan pendapatan yang lebih besar dari Rp 7.500.000,00 tidak
sama dengan 30% dari data keseluruhan individu?

## Nomor 6: Hipotesis 2 sampel

Lembaga riset membagi data individu menjadi dua bagian, yaitu data individu yang lebih
awal masuk data penelitian (bagian atas) dan yang baru saja (bagian bawah).

- Periksa apakah rata-rata berat badan individu yang lebih awal masuk data penelitian
sama dengan rata-rata berat badan individu yang masuk baru saja?
- Bagaimana dengan pendapatan individu, apakah pendapatan sistole individu yang lebih
awal masuk data penelitian lebih besar Rp 1.250.000,00 dari yang baru saja masuk?
- Lembaga riset ingin membandingkan kondisi kesehatan individu dari dua bagian data.
Apakah variansi tekanan darah individu yang lebih awal masuk data penelitian sama
dengan yang baru saja masuk?
- Apakah proporsi waktu olahraga yang lebih dari 8 jam per minggu pada data individu
awal lebih besar daripada kuantitas proporsi pada data individu akhir dengan waktu
olahraga yang sama?